@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono&display=swap');

body {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}

hr {
	margin: 5px 0 15px 0;
}

img.header-image {
	margin-top: -10px;
	margin-bottom: -5px;
	width: 138px;
	height: 100px;
	margin-right: 10px;
}

code, .monospace {
	font-family: 'Roboto Mono', monospace;
}

.properties-header {
	width: 190px;
	text-align: right;
}

.word-wrap {
	word-wrap: break-word;
	word-break: break-all;
}

.tag {
	border-radius: 4px;
	background-color: #0275d8;
	color: white;
	padding: 2px 5px;
	margin-right: 4px;
}

#subheader a {
	margin-right: 20px;
}

.table th {
	border-top: none;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #e3e3e3;
}

#sub-menu a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 500;
}

@media (min-width: 1920px) {
	.container {
		max-width: 1800px;
	}
}

footer a {
	color: #ccc;
	text-decoration: underline;
}

footer a:hover {
	color: white;
}

footer .coin-logo {
	height: 64px;
	width: auto;
}

.nav .nav-item .nav-link {
	margin: .1rem;
	background-color: #EEE;
}

.nav .nav-item .nav-link:hover {
	background-color: #DDD;
}
